<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <title th:text="${currentPageInfo.pageTitle + ' | Another Video Hub'}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta content="" name="keywords"/>
    <link href="/" rel="shrtcut icon" type="image/x-icon"/>
    <link href="../static/css/style.css" media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap" media="all" rel="stylesheet"/>
</head>

<body>

<header th:replace="fragments :: header"></header>

<div class="main">
    <div class="videoItem" th:each="video : ${videoList}">
        <a th:href="'/play?viewKey=' + ${video.viewKey}">
            <img alt="video preview" class="video-img" loading="lazy" th:src="${video.previewPicture}">
        </a>
        <div class="video-info">
            <p>名称：<span th:text="${video.videoName}"/></p>
            <p>时长：<span th:text="${video.duration}"/></p>
            <p>作者：<span th:text="${video.authorName}"/></p>
            <p>访问量：<span th:text="${video.viewAmount}"/></p>
            <p>收藏量：<span th:text="${video.collectAmount}"/></p>
            <p>发布时间：<span th:text="${video.publishTime}"/></p>
        </div>
    </div>

    <div id="page-turning" th:if="${currentPageInfo.pageTurn}">
        <a th:href="${currentPageInfo.pageLink + 'pageIndex=' + (currentPageInfo.pageIndex - 1)}"
           th:if="${currentPageInfo.pageIndex > 1}">⬅️Pre</a>
        <a th:href="${currentPageInfo.pageLink + 'pageIndex=' + (currentPageInfo.pageIndex + 1)}">Next➡️</a>
    </div>

    <footer th:replace="fragments :: footer"></footer>

</div>

</body>
</html>
