<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play | Another Video Hub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta content="" name="keywords"/>
    <link href="/" rel="shrtcut icon" type="image/x-icon"/>
    <link href="../static/css/style.css" media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap" media="all" rel="stylesheet"/>
</head>

<body>

<header th:replace="fragments :: header"></header>

<div class="main">

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>
